.App {
  text-align: center;
}


.App-header {
  background-color: #d9e1f3;
  min-height: 3rem;
  padding-top:1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-wrap {
  width:95%;
  display:flex;
}

.App-link {
  color: #61dafb;
}

.memes{
  height:calc(100vh - 3.25rem);
  overflow:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.meme{
  margin:5px;
}

.meme-title {
  display:none;
  position:absolute;
  width:calc(100%-5px);
  bottom:2px;
  background:rgba(255,255,255,0.35);
  font-weight:bold;
  font-size:0.7rem;
  padding:2px 5px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.meme:hover .meme-title {
  display:block;
}

